html,
body {
	height: 100%;
}

body {
	font-family: Poppins, Helvetica, Arial, sans-serif;
}

img[alt="freecodecamp"] {
	width: 50px;
	height: auto;
}

#editor,
#preview {
	height: clamp(200px, 40vw, 60vh);
	overflow-y: auto;
}

#editor {
	font-family: "Courier New", "Andale Mono", monospace;
	resize: none;
}